 {% extends "base.html" %}
 {% load static %}
{% block title %}
	HomePage
{% endblock %}
 {% block content %}
     {{ block.super }}<br>
     <img width="50px" src="{% static "images/django.svg" %}" alt="django image">
    <h1>Приветствую!!! </h1>
    <p>Это главна страница сайта</p><br><br>
     <span style="color:darkred ">меня зовут: {{ fullname }}</span><br>
    мой телефон: {{ author.Telephone }}<br><br>
    <i><b>{{ "сайт находиться в разработке....." | upper}}</b></i>
 {% endblock %}
    
