
 {% extends "base.html" %}
{% block title %}
	item page
{% endblock %}
    {% block content %}
     {{ block.super }}<br>
    <br>
    <br>
    <br>
            <div class="item">                
                    <p class="item_name">{{ item.name | title }}
                    <p>Брэнд: &nbsp {{ item.brand | lower }}</p>
                    <p>Описание:&nbsp{{ item.description | lower}}</p>
                    <p>Количество: &nbsp {{ item.count | default:"Товар отсутствует" }}</p>
            </div>

    <br>
    <br>
    <br>
    <p><a href={% url "items" %}> к списку товаров</a></p>
{% endblock %}
</body>
</html>