<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item detail</title>
</head>
<body>
    <header>
        / <a href="/" > Home </a> / <a href="/items" > Items </a>/ <a href="/about" > About </a>
    </header>
    <b>Наименование:</b> {{ item.name }}<br>
    <b>Брэнд:</b> {{ item.brand }}<br>
    <b>Описание:</b> {{ item.description }}<br>
    {% if item.count == 0 %}
        <b>Товар отсутствует</b>
        {% else %}
        <b>Количество:</b> {{ item.count }}
    {% endif %}
    <br>
    <br>
    <br>
    <p><a href="/items"> к списку товаров</a></p>
</body>
</html>